<mat-toolbar fxLayout="row" color="primary">
    <span fxFlex>OnlineWala.com</span>
    <button mat-button routerLink="/deals"><mat-icon>new_releases</mat-icon> Deals</button>
    <button mat-button routerLink="/cart"><mat-icon>add_shopping_cart</mat-icon> cart</button>
    <button mat-button routerLink="/favourite"><mat-icon>local_dining</mat-icon> Favourites</button>
    <button mat-button routerLink="/sign"><mat-icon>account_box</mat-icon> Sign In</button>
    <ng-container>
        <button mat-icon-button >
            
        </button>
        <mat-menu >
            <ng-container >
              
            </ng-container>
        </mat-menu>
    </ng-container>
</mat-toolbar>
